.header {
    opacity: 98%;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color-blue);
    border-bottom: 3px solid var(--color-gold);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    padding: 0 5%;
}

.header-nav {
    gap: 32px;
    display: flex;
    align-items: center;
    color: var(--color-text-light)
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
}